<%- include('../partials/header') %>

<h2>Sửa sản phẩm</h2>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <div>
    <label>Tên sản phẩm:</label>
    <input type="text" name="name" value="<%= product.name %>">
  </div>
  <div>
    <label>Giá:</label>
    <input type="number" name="price" value="<%= product.price %>">
  </div>
  <div>
    <label>Tồn kho:</label>
    <input type="number" name="unit_in_stock" value="<%= product.unit_in_stock %>">
  </div>
  <div>
    <p>Ảnh hiện tại:</p>
    <% if (product.url_image) { %>
      <img src="<%= product.url_image %>" width="120">
    <% } %>
  </div>
  <div>
    <label>Chọn ảnh mới:</label>
    <input type="file" name="url_image">
  </div>
  <button type="submit">Cập nhật</button>
</form>

<p><a href="/">Quay lại</a></p>

<%- include('../partials/footer') %>